Workflows/BTLTCHAD_DG-AC279BFD-1372-ED11-9561-6045BD8F9871.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_SharePoint_ZulaaProd"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cm237_sharedapprovals_5ce83"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_Outlook_ZulaaProd"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)": {
          "defaultValue": "695cdaf1-a289-4064-81d5-f5d25a42bb67",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_DemandeAchat",
            "description": "DEMANDEACHAT"
          }
        },
        "Ev_Con_List_Entite (cm237_Ev_Con_List_Entit)": {
          "defaultValue": "8f9074b5-dd58-425a-a591-280395dbebb2",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Entit",
            "description": "Connexion à la liste sharepoint des Entitées"
          }
        },
        "Ev_Con_List_SiteCentreCout (cm237_Ev_Con_List_SiteCentreCout)": {
          "defaultValue": "81272bb8-0a80-4b42-bb9b-96e1c0c1540a",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_SiteCentreCout",
            "description": "Connexion à la liste sharepoint des SiteCentreCout"
          }
        },
        "Ev_Con_List_DemandeAchatArticleFournisseur (cm237_Ev_Con_List_DemandeAchatArticleFournisseur)": {
          "defaultValue": "46b897d6-c21f-415d-bb0c-785409175d4a",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_DemandeAchatArticleFournisseur",
            "description": "Connexion à laliste sharepoint DemandeAchatArticleFournisseur"
          }
        },
        "Ev_Con_List_FlowHistory (cm237_Ev_Con_List_FlowHistory)": {
          "defaultValue": "de03c134-6e3d-4cce-b677-f6360f2b9241",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_FlowHistory"
          }
        },
        "Ev_Con_List_Trigger_BTLTCHAD_DG (cm237_Ev_Con_List_Trigger_BTLTCHAD_DG)": {
          "defaultValue": "61326bce-6c72-499d-b55b-0e5b210aa584",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_BTLTCHAD_DG",
            "description": "Trigger_BTLTCHAD_DG"
          }
        },
        "Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)": {
          "defaultValue": "https://teamsite.msc.com/sites/cm004-afr-cio-zulaa-dev",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_Site_ZulaaDev",
            "description": "Site de la dev où sont stockés les templates des documents de bon de commande, expression de besoin, réception et sortie de stock"
          }
        }
      },
      "triggers": {
        "When_an_item_is_created": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "e1cb0576-d371-41b6-81c7-f14888932e2d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnNewItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_Trigger_BTLTCHAD_DG (cm237_Ev_Con_List_Trigger_BTLTCHAD_DG)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "varListValideur": {
          "runAfter": {
            "Demande_Achat": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "073da887-3417-4f7f-be05-cbf1ac27aede"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varListValideur",
                "type": "string"
              }
            ]
          }
        },
        "Demande_Achat": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f6bdcf78-7d7e-4da4-8475-6f38f8700cc0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
              "id": "@outputs('Compose')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_attachments_DA": {
          "runAfter": {
            "varLigneArticle": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e8ac5c63-485b-4e7b-a350-72456482e42b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItemAttachments",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
              "itemId": "@outputs('Demande_Achat')?['body/ID']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "lienPieceJointe": {
          "runAfter": {
            "varListValideur": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "07cd2697-eb00-4705-8867-6d8f31b68121"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "lienPieceJointe",
                "type": "string"
              }
            ]
          }
        },
        "loop_pieces_jointes": {
          "foreach": "@body('Get_attachments_DA')",
          "actions": {
            "Append_to_string_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a10242b6-7fe9-4992-9f6c-7d824b2246d3"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "lienPieceJointe",
                "value": "- @{item()?['DisplayName']} : @{join(split(item()?['AbsoluteUri'],' '),'%20')};\n"
              }
            },
            "Obtenir_le_contenu_du_fichier": {
              "runAfter": {
                "Append_to_string_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9fc98923-99b6-4cfb-9770-4cc2eb90deca"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetFileContent",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                  "id": "@item()?['Id']",
                  "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Ajouter_à_la_variable_de_tableau": {
              "runAfter": {
                "Obtenir_le_contenu_du_fichier": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5946abfb-5098-4ed8-9db5-cc3721dbe67e"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "Attachments",
                "value": {
                  "Name": "@item()?['DisplayName']",
                  "content": "@body('Obtenir_le_contenu_du_fichier')"
                }
              }
            }
          },
          "runAfter": {
            "Get_attachments_DA": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "87513a89-ef0d-4779-bc64-b68c070cce29"
          },
          "type": "Foreach"
        },
        "Get_Ligne_Articles": {
          "runAfter": {
            "loop_pieces_jointes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f641dd3a-3a77-4ca1-8864-78187f4353ec"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DemandeAchatArticleFournisseur (cm237_Ev_Con_List_DemandeAchatArticleFournisseur)')",
              "$filter": "DemandeAchatId/Id eq '@{outputs('Demande_Achat')?['body/ID']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "varLigneArticle": {
          "runAfter": {
            "Initialiser_la_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d5242091-0f70-4172-b187-13c6d0ced479"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLigneArticle",
                "type": "string"
              }
            ]
          }
        },
        "loop_ligne_articles": {
          "foreach": "@outputs('Get_Ligne_Articles')?['body/value']",
          "actions": {
            "Append_to_string_variable_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8149b1c4-b59c-4030-9293-a7662095bcb8"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLigneArticle",
                "value": "- @{items('loop_ligne_articles')?['ArticleId/Value']} , Quantité : @{items('loop_ligne_articles')?['Quantite']}, Prix Unitaire :  @{items('loop_ligne_articles')?['Prix']} @{outputs('Demande_Achat')?['body/Devise/Value']}  , Centre de coût :  @{items('loop_ligne_articles')?['SiteCentreCoutId/Value']};\n"
              }
            }
          },
          "runAfter": {
            "Get_Ligne_Articles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5cb82fcd-8413-4255-9e5d-e53c30303b40"
          },
          "type": "Foreach"
        },
        "Get_Centre_de_cout": {
          "runAfter": {
            "loop_ligne_articles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c050953-628b-4767-8c33-3e150f6924a8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_SiteCentreCout (cm237_Ev_Con_List_SiteCentreCout)')",
              "id": "@outputs('Demande_Achat')?['body/SiteCentreCoutId/Id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Start_and_wait_for_an_approval": {
          "runAfter": {
            "Update_Validateur_Niveau_Validation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a30005dd-43e4-4e49-a6f9-dc7b9a0eeabd"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "CustomResponse",
              "WebhookApprovalCreationInput/responseOptions": [
                "Valider",
                "Rejeter",
                "Renvoyer (Pour modification)"
              ],
              "WebhookApprovalCreationInput/title": "Validation (DG)  Demande d'achat  @{outputs('Demande_Achat')?['body/ID']}",
              "WebhookApprovalCreationInput/assignedTo": "@{variables('varListValideur')};",
              "WebhookApprovalCreationInput/details": "Description : @{outputs('Demande_Achat')?['body/Description']} , \n\nListe des articles :\n@{variables('varLigneArticle')}\n\n\nMontant HT : @{outputs('Demande_Achat')?['body/Montant']} @{outputs('Demande_Achat')?['body/Devise/Value']};\nMontant TTC: @{outputs('Demande_Achat')?['body/MontantTTC']} @{outputs('Demande_Achat')?['body/Devise/Value']}.\n\nFichier(s) Joint(s) : \n@{variables('lienPieceJointe')}\n\nNB : Veuillez donner votre approbation avant le @{addDays(utcNow(),28,'dd/MM/yyyy')}",
              "WebhookApprovalCreationInput/requestor": "@{outputs('Demande_Achat')?['body/Author/Email']};",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true,
              "WebhookApprovalCreationInput/attachments": "@variables('Attachments')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Condition_2": {
              "actions": {
                "Update_item_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5b7cd289-dd92-4130-8b69-41d20d239003"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                      "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
                      "id": "@outputs('Demande_Achat')?['body/ID']",
                      "item/Statut/Value": "Validé",
                      "item/DateValidationDG": "@outputs('Start_and_wait_for_an_approval')?['body/completionDate']",
                      "item/RaisonDg": "@items('Apply_to_each')?['comments']",
                      "item/StatutValidationDG/Value": "Validé",
                      "item/ValidateurDG": "@items('Apply_to_each')?['responder/displayName']",
                      "item/ValidateurActuelle": "@null",
                      "item/NiveauValidation/Value": "@null"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Condition_3": {
                    "actions": {
                      "Update_item": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "4c845562-faa4-45e9-a673-3b8a2b4ddd97"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sharepointonline",
                            "operationId": "PatchItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                          },
                          "parameters": {
                            "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                            "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
                            "id": "@outputs('Demande_Achat')?['body/ID']",
                            "item/Statut/Value": "Refusé",
                            "item/DateValidationDG": "@outputs('Start_and_wait_for_an_approval')?['body/completionDate']",
                            "item/RaisonDg": "@items('Apply_to_each')?['comments']",
                            "item/StatutValidationDG/Value": "Refusé",
                            "item/ValidateurDG": "@items('Apply_to_each')?['responder/displayName']",
                            "item/ValidateurActuelle": "@null",
                            "item/NiveauValidation/Value": "@null"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Update_item_3": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "77200d0e-60b1-451e-80dc-e6545d066b93"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "PatchItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                              "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
                              "id": "@outputs('Demande_Achat')?['body/ID']",
                              "item/Statut/Value": "Annulé",
                              "item/DateValidationDG": "@outputs('Start_and_wait_for_an_approval')?['body/completionDate']",
                              "item/RaisonDg": "@items('Apply_to_each')?['comments']",
                              "item/StatutValidationDG/Value": "Annulé",
                              "item/ValidateurDG": "@items('Apply_to_each')?['responder/displayName']",
                              "item/ValidateurActuelle": "@null",
                              "item/NiveauValidation/Value": "@null"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
                        "Rejeter"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "040a7fc0-c167-4629-9e2c-aa4af8824d29"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
                  "Valider"
                ]
              },
              "metadata": {
                "operationMetadataId": "08c940d9-9546-40fe-9829-24fd752ae2a7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac7d6375-757c-4716-9438-344358bca57d"
          },
          "type": "Foreach"
        },
        "Get_Entite": {
          "runAfter": {
            "Get_Centre_de_cout": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "df626dbf-dc08-446b-804d-32789ff7e1da"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_Entite (cm237_Ev_Con_List_Entit)')",
              "id": "@outputs('Demande_Achat')?['body/EntiteId/Id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "loop_DG": {
          "foreach": "@outputs('Get_Entite')?['body/DG']",
          "actions": {
            "Set_variable_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2801a657-6ee2-4f0a-99d0-3f038e7b5e79"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varListValideur",
                "value": "@items('loop_DG')?['Email']"
              }
            }
          },
          "runAfter": {
            "Get_Entite": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "93c84796-e448-4955-b422-89d0ad6b72a0"
          },
          "type": "Foreach"
        },
        "Condition": {
          "actions": {},
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Send_an_email_(V2)": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "a96f7747-d57a-45ba-99f6-22b4765ab433"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "@variables('varListValideur')",
                    "emailMessage/Subject": "[Notifcation - Zulaa] Approbation non prise en compte",
                    "emailMessage/Body": "<p>La demande d'achat DA@{outputs('Demande_Achat')?['body/ID']} a déjà été approuvée.<br>\n<br>\n<strong>La nouvelle approbation n'a pas été prise en compte !<br>\n</strong><br>\n[ZULAA]</p>"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Terminate": {
                "runAfter": {
                  "Send_an_email_(V2)": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "58410dc0-1901-4a80-80ae-a362ccecdec9"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Demande_Achat')?['body/StatutValidationDG/Value']",
              "En cours"
            ]
          },
          "metadata": {
            "operationMetadataId": "77ae5345-0b88-4147-a1c9-520d0e985c6d"
          },
          "type": "If"
        },
        "Initialiser_la_variable": {
          "runAfter": {
            "lienPieceJointe": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "54f9e307-4124-4d8b-8ee6-12a727ba02a4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Attachments",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Historique": {
          "runAfter": {
            "loop_DG": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "68090c79-4e78-4f74-9b76-3d6f5fd510db"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "PostItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_FlowHistory (cm237_Ev_Con_List_FlowHistory)')",
              "item/Title": "Zulaa BTL TCHAD DG",
              "item/ElementId": "DA@{outputs('Demande_Achat')?['body/ID']}",
              "item/ValidateurName": "@variables('varListValideur')",
              "item/FlowType/Value": "Classic"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Validateur_Niveau_Validation": {
          "runAfter": {
            "Historique": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9e5643b8-e81f-4546-9729-fd95c4c7a55b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "PatchItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
              "id": "@outputs('Demande_Achat')?['body/ID']",
              "item/ValidateurActuelle": "@variables('varListValideur')",
              "item/NiveauValidation/Value": "DG"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a75766ab-b5cf-4e09-b6e1-a7ba8fe30d59"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/idElement']"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}