Workflows/FluxDG-69EB29AB-59E3-ED11-A7C7-0022489FDFC6.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_SharePoint_ZulaaProd"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Ev_Con_List_Trigger_BTLCM_DG (cm237_Ev_Con_List_Trigger_BTLCM_DG)": {
          "defaultValue": "d4f856d1-87d6-41c4-9cd9-4657a99520b8",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_BTLCM_DG",
            "description": "Trigger_BTLCM_DG"
          }
        },
        "Ev_Con_List_Trigger_KCT_DG (cm237_Ev_Con_List_Trigger_KCT_DG)": {
          "defaultValue": "33ff16fd-8fba-4b18-80ab-0a2bffd6b223",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_KCT_DG",
            "description": "Trigger_KCT_DG"
          }
        },
        "Ev_Con_List_Trigger_SOCOPAO_DG (cm237_Ev_Con_List_Trigger_SOCOPAO_DG)": {
          "defaultValue": "c8094f80-e8ca-4101-977f-2da92ef801c5",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_SOCOPAO_DG",
            "description": "Trigger_SOCOPAO_DG"
          }
        },
        "Ev_Con_List_Trigger_BTLCF_DG (cm237_Ev_Con_List_Trigger_BTLCF_DG)": {
          "defaultValue": "2da13869-e94c-46ae-9894-46e3dbccbe7b",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_BTLCF_DG",
            "description": "Trigger_BTLCF_DG"
          }
        },
        "Ev_Con_List_Trigger_SEPBC_DG (cm237_Ev_Con_List_Trigger_SEPBC_DG)": {
          "defaultValue": "e4ced14f-8453-4e0f-99e2-a71354c5f933",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_SEPBC_DG",
            "description": "Trigger_SEPBC_DG"
          }
        },
        "Ev_Con_List_Trigger_DIT_DG (cm237_Ev_Con_List_Trigger_DIT_DG)": {
          "defaultValue": "96becec8-f83f-4cb1-bc2d-1cf38767d690",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_DIT_DG",
            "description": "Trigger_DIT_DG"
          }
        },
        "Ev_Con_List_Trigger_PPK_DG (cm237_Ev_Con_List_Trigger_PPK_DG)": {
          "defaultValue": "47701a76-3c5e-422e-9859-ece29856f0bd",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_PPK_DG",
            "description": "Trigger_PPK_DG"
          }
        },
        "Ev_Con_Zulaa (cm237_Ev_Con_Zulaa)": {
          "defaultValue": "https://teamsite.msc.com/sites/NL001-SITE_ACHAT",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_Zulaa",
            "description": "Site Sharepoint de production de ZULAA"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "fe8ae849-92ac-4687-9add-5cf5500b7952"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "Initialiserlavariable_Valeur": {
                  "type": "integer",
                  "description": "Entrer la valeur initiale",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Initialiserlavariable2_Valeur": {
                  "type": "string",
                  "description": "Entrer la valeur initiale",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Initialiserlavariable3_Valeur": {
                  "type": "string",
                  "description": "Entrer la valeur initiale",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "Initialiserlavariable_Valeur",
                "Initialiserlavariable2_Valeur",
                "Initialiserlavariable3_Valeur"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialiser_la_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "54b25fc9-6914-4b0c-987b-fcb0e4073406"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ID",
                "type": "integer",
                "value": "@triggerBody()['Initialiserlavariable_Valeur']"
              }
            ]
          }
        },
        "Initialiser_la_variable_2": {
          "runAfter": {
            "Initialiser_la_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f7de4f7e-a59f-41ff-bbbd-bc6006c2340d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Entite",
                "type": "string",
                "value": "@{triggerBody()['Initialiserlavariable2_Valeur']}"
              }
            ]
          }
        },
        "Commutateur": {
          "runAfter": {
            "Initialiser_la_variable_3": [
              "Succeeded"
            ]
          },
          "cases": {
            "Casse": {
              "case": "BTLCM",
              "actions": {
                "Créer_un_élément": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "41fa27bf-aadd-4851-a183-fe9839fdc65b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "PostItem"
                    },
                    "parameters": {
                      "dataset": "@parameters('Ev_Con_Zulaa (cm237_Ev_Con_Zulaa)')",
                      "table": "@parameters('Ev_Con_List_Trigger_BTLCM_DG (cm237_Ev_Con_List_Trigger_BTLCM_DG)')",
                      "item/Title": "\"RELANCER VALIDATION DG BTLCM\"",
                      "item/idElement": "@variables('ID')",
                      "item/EmailRelance": "@variables('EmailRelance')"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                }
              }
            },
            "Casse_2": {
              "case": "SOCOPAO",
              "actions": {
                "Créer_un_élément_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "253facea-e850-4c9d-87f7-1e95440b69a1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "PostItem"
                    },
                    "parameters": {
                      "dataset": "@parameters('Ev_Con_Zulaa (cm237_Ev_Con_Zulaa)')",
                      "table": "@parameters('Ev_Con_List_Trigger_SOCOPAO_DG (cm237_Ev_Con_List_Trigger_SOCOPAO_DG)')",
                      "item/Title": "\"RELANCER VALIDATION DG SOCOPAO\"",
                      "item/idElement": "@variables('ID')",
                      "item/EmailRelance": "@variables('EmailRelance')"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                }
              }
            },
            "Casse_3": {
              "case": "KCT",
              "actions": {
                "Créer_un_élément_3": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "54da85ce-bcf8-42d1-9577-69160e22db42"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "PostItem"
                    },
                    "parameters": {
                      "dataset": "@parameters('Ev_Con_Zulaa (cm237_Ev_Con_Zulaa)')",
                      "table": "@parameters('Ev_Con_List_Trigger_KCT_DG (cm237_Ev_Con_List_Trigger_KCT_DG)')",
                      "item/Title": "\"RELANCER VALIDATION DG KCT\"",
                      "item/idElement": "@variables('ID')",
                      "item/EmailRelance": "@variables('EmailRelance')"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                }
              }
            },
            "Casse_4": {
              "case": "TBPD",
              "actions": {
                "Créer_un_élément_4": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "48a7b83f-ceb0-491a-9d29-7a6d1ef4fcd4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "PostItem"
                    },
                    "parameters": {
                      "dataset": "@parameters('Ev_Con_Zulaa (cm237_Ev_Con_Zulaa)')",
                      "table": "@parameters('Ev_Con_List_Trigger_SEPBC_DG (cm237_Ev_Con_List_Trigger_SEPBC_DG)')",
                      "item/Title": "\"RELANCER VALIDATION DG TBPD\"",
                      "item/idElement": "@variables('ID')",
                      "item/EmailRelance": "@variables('EmailRelance')"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                }
              }
            },
            "Casse_5": {
              "case": "PPK",
              "actions": {
                "Créer_un_élément_5": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e8d367ea-36a3-4485-8b3b-f6c2239e442e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "PostItem"
                    },
                    "parameters": {
                      "dataset": "@parameters('Ev_Con_Zulaa (cm237_Ev_Con_Zulaa)')",
                      "table": "@parameters('Ev_Con_List_Trigger_PPK_DG (cm237_Ev_Con_List_Trigger_PPK_DG)')",
                      "item/Title": "\"RELANCER VALIDATION DG PPK\"",
                      "item/idElement": "@variables('ID')",
                      "item/EmailRelance": "@variables('EmailRelance')"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                }
              }
            },
            "Casse_6": {
              "case": "DIT",
              "actions": {
                "Créer_un_élément_6": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f15584b3-36da-4b30-beac-2f320dd4c89a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "PostItem"
                    },
                    "parameters": {
                      "dataset": "@parameters('Ev_Con_Zulaa (cm237_Ev_Con_Zulaa)')",
                      "table": "@parameters('Ev_Con_List_Trigger_DIT_DG (cm237_Ev_Con_List_Trigger_DIT_DG)')",
                      "item/Title": "\"RELANCER VALIDATION DG DIT\"",
                      "item/idElement": "@variables('ID')",
                      "item/EmailRelance": "@variables('EmailRelance')"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                }
              }
            },
            "Casse_7": {
              "case": "BTLCF",
              "actions": {
                "Créer_un_élément_7": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "49c74a92-c7e6-4fc5-8ff5-79f1c79efa14"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "PostItem"
                    },
                    "parameters": {
                      "dataset": "@parameters('Ev_Con_Zulaa (cm237_Ev_Con_Zulaa)')",
                      "table": "@parameters('Ev_Con_List_Trigger_BTLCF_DG (cm237_Ev_Con_List_Trigger_BTLCF_DG)')",
                      "item/Title": "\"RELANCER VALIDATION DG BTLCF\"",
                      "item/idElement": "@variables('ID')",
                      "item/EmailRelance": "@variables('EmailRelance')"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@variables('Entite')",
          "metadata": {
            "operationMetadataId": "b13799de-f0f4-4538-84ca-003b56442e06"
          },
          "type": "Switch"
        },
        "Initialiser_la_variable_3": {
          "runAfter": {
            "Initialiser_la_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0a76fb2e-5008-44c1-8677-99e85b739dee"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailRelance",
                "type": "string",
                "value": "@{triggerBody()['Initialiserlavariable3_Valeur']}"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}