Workflows/PRODAPIFournisseursZULAA-AKINA-740C0877-71AE-EC11-9840-002248812BC7.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_Outlook_ZulaaProd"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_SharePoint_ZulaaProd"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Ev_Con_List_Fournisseur (cm237_Ev_Con_List_Fournisseur)": {
          "defaultValue": "bb26e0de-401d-464b-bf1c-96e01d5bb8f2",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Fournisseur",
            "description": "Connexion à la liste sharepoint des fournisseurs"
          }
        },
        "Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)": {
          "defaultValue": "https://teamsite.msc.com/sites/NL001-SITE_ACHAT",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_Site_ZulaaDev",
            "description": "Site de la dev où sont stockés les templates des documents de bon de commande, expression de besoin, réception et sortie de stock"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8c3da7d1-d2e2-4cb7-9615-e3f0b6c9cc6b"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Email": {
                        "type": "string"
                      },
                      "RaisonSocial": {
                        "type": "string"
                      },
                      "Nom": {
                        "type": "string"
                      },
                      "CompteIris": {
                        "type": "string"
                      },
                      "Telephone1": {
                        "type": "string"
                      },
                      "Adresse1": {
                        "type": "string"
                      },
                      "RegistreCommerce": {
                        "type": "string"
                      },
                      "SiteWeb": {
                        "type": "string"
                      },
                      "NumeroContribuable": {
                        "type": "string"
                      },
                      "Ville": {
                        "type": "string"
                      },
                      "Fax": {
                        "type": "string"
                      },
                      "DateExpiration": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Send_an_email_(V2)": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d5b3b8e6-2c32-4c2a-89b1-962711a1c93d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2"
            },
            "parameters": {
              "emailMessage/To": "Cedric.NGUEMNING@bollore.com;Hardy.GHOMSI@bollore.com",
              "emailMessage/Subject": "Test Fournisseur",
              "emailMessage/Body": "<p>@{triggerBody()}</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_exist": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "26532ae3-e069-4606-815b-72c0ad4ed3d4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "exist",
                "type": "boolean"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@triggerBody()?['data']",
          "actions": {
            "Ajout_Fournisseur": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a41bf33c-c31a-40d4-91d6-48ff5d1cdf25"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PostItem"
                },
                "parameters": {
                  "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                  "table": "@parameters('Ev_Con_List_Fournisseur (cm237_Ev_Con_List_Fournisseur)')",
                  "item/Title": "@items('Apply_to_each')?['Nom']",
                  "item/RaisonSocial": "@items('Apply_to_each')?['RaisonSocial']",
                  "item/CodeIris": "@items('Apply_to_each')?['CompteIris']",
                  "item/SiteWeb": "@items('Apply_to_each')?['SiteWeb']",
                  "item/NumeroContribuable": "@items('Apply_to_each')?['NumeroContribuable']",
                  "item/Actif": true,
                  "item/Exoneration": false,
                  "item/Devise/Value": "FCFA",
                  "item/Adresse": "@items('Apply_to_each')?['Adresse1']",
                  "item/Telephone": "@items('Apply_to_each')?['Telephone1']",
                  "item/Email": "@items('Apply_to_each')?['Email']",
                  "item/Fax": "@items('Apply_to_each')?['Fax']",
                  "item/Ville": "@items('Apply_to_each')?['Ville']",
                  "item/RegistreCommerce": "@items('Apply_to_each')?['RegistreCommerce']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_exist": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f7552267-4202-4b31-b4de-a6e00d85742d"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}