Workflows/SMT_DAF-F8394DB0-266F-ED11-9561-6045BD8F9871.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_SharePoint_ZulaaProd"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_approvals_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_Approval_ZulaaProd"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_Outlook_ZulaaProd"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)": {
          "defaultValue": "dc29577c-7a2d-443c-a0dc-4b40672fc0cf",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_DemandeAchat",
            "description": "DEMANDEACHAT"
          }
        },
        "Ev_Con_List_Entite (cm237_Ev_Con_List_Entit)": {
          "defaultValue": "0ecfd9f6-6425-4e2a-816f-b35669a82481",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Entit",
            "description": "Connexion à la liste sharepoint des Entitées"
          }
        },
        "Ev_Con_List_Devise (cm237_Ev_Con_List_Devise)": {
          "defaultValue": "569f3983-0d70-4f64-97c0-84f2454b12f5",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Devise",
            "description": "Connexion à la liste sharepoint des devises"
          }
        },
        "Ev_Con_List_SiteCentreCout (cm237_Ev_Con_List_SiteCentreCout)": {
          "defaultValue": "d8dfb529-f01e-47b3-bb55-710c65c63e74",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_SiteCentreCout",
            "description": "Connexion à la liste sharepoint des SiteCentreCout"
          }
        },
        "Ev_Con_List_DemandeAchatArticleFournisseur (cm237_Ev_Con_List_DemandeAchatArticleFournisseur)": {
          "defaultValue": "308c398c-07c8-4c20-9c88-349231c0cc53",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_DemandeAchatArticleFournisseur",
            "description": "Connexion à laliste sharepoint DemandeAchatArticleFournisseur"
          }
        },
        "Ev_Con_List_FlowHistory (cm237_Ev_Con_List_FlowHistory)": {
          "defaultValue": "0f6df2ea-31ab-40c8-afcf-9a12a9a7c8eb",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_FlowHistory"
          }
        },
        "Ev_Con_List_Trigger_SMT_DAF (cm237_Ev_Con_List_Trigger_SMT_DAF)": {
          "defaultValue": "20213cd1-9459-4665-842c-718af8fd37f5",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_SMT_DAF",
            "description": "Trigger_SMT_DAF"
          }
        },
        "Ev_Con_List_Trigger_SMT_DG (cm237_Ev_Con_List_Trigger_SMT_DG)": {
          "defaultValue": "c760039c-5eff-4759-bd2a-0b05aa3871fe",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Trigger_SMT_DG",
            "description": "Trigger_SMT_DG"
          }
        },
        "Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)": {
          "defaultValue": "https://teamsite.msc.com/sites/NL001-SITE_ACHAT",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_Site_ZulaaDev",
            "description": "Site de la dev où sont stockés les templates des documents de bon de commande, expression de besoin, réception et sortie de stock"
          }
        }
      },
      "triggers": {
        "When_an_item_is_created": {
          "recurrence": {
            "frequency": "Minute",
            "interval": 1
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "691fa734-cb07-43c3-9238-63962099aa9c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetOnNewItems"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_Trigger_SMT_DAF (cm237_Ev_Con_List_Trigger_SMT_DAF)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "varListValideur": {
          "runAfter": {
            "Set_variable_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "073da887-3417-4f7f-be05-cbf1ac27aede"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varListValideur",
                "type": "string"
              }
            ]
          }
        },
        "Demande_Achat": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f6bdcf78-7d7e-4da4-8475-6f38f8700cc0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
              "id": "@outputs('Compose')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_attachments_DA": {
          "runAfter": {
            "varLigneArticle": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e8ac5c63-485b-4e7b-a350-72456482e42b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItemAttachments"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
              "itemId": "@outputs('Demande_Achat')?['body/ID']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "lienPieceJointe": {
          "runAfter": {
            "varListValideur": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "07cd2697-eb00-4705-8867-6d8f31b68121"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "lienPieceJointe",
                "type": "string"
              }
            ]
          }
        },
        "loop_pieces_jointes": {
          "foreach": "@body('Get_attachments_DA')",
          "actions": {
            "Append_to_string_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a10242b6-7fe9-4992-9f6c-7d824b2246d3"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "lienPieceJointe",
                "value": "- @{item()?['DisplayName']} : @{join(split(item()?['AbsoluteUri'],' '),'%20')};\n"
              }
            },
            "Obtenir_le_contenu_du_fichier": {
              "runAfter": {
                "Append_to_string_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65f5c0ef-9329-4c5c-8098-9054e060d8b4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetFileContent"
                },
                "parameters": {
                  "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                  "id": "@item()?['Id']",
                  "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Ajouter_à_la_variable_de_tableau": {
              "runAfter": {
                "Obtenir_le_contenu_du_fichier": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "32f62713-615c-4e43-891d-8beafd3226a3"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "Attachments",
                "value": {
                  "Name": "@item()?['DisplayName']",
                  "content": "@body('Obtenir_le_contenu_du_fichier')"
                }
              }
            }
          },
          "runAfter": {
            "Get_attachments_DA": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "87513a89-ef0d-4779-bc64-b68c070cce29"
          },
          "type": "Foreach"
        },
        "Get_Ligne_Articles": {
          "runAfter": {
            "loop_pieces_jointes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f641dd3a-3a77-4ca1-8864-78187f4353ec"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DemandeAchatArticleFournisseur (cm237_Ev_Con_List_DemandeAchatArticleFournisseur)')",
              "$filter": "DemandeAchatId/Id eq '@{outputs('Demande_Achat')?['body/ID']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "varLigneArticle": {
          "runAfter": {
            "Initialiser_la_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d5242091-0f70-4172-b187-13c6d0ced479"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLigneArticle",
                "type": "string"
              }
            ]
          }
        },
        "loop_ligne_articles": {
          "foreach": "@outputs('Get_Ligne_Articles')?['body/value']",
          "actions": {
            "Append_to_string_variable_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8149b1c4-b59c-4030-9293-a7662095bcb8"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "varLigneArticle",
                "value": "- @{items('loop_ligne_articles')?['ArticleId/Value']} , Quantité : @{items('loop_ligne_articles')?['Quantite']}, Prix Unitaire :  @{items('loop_ligne_articles')?['Prix']} @{outputs('Demande_Achat')?['body/Devise/Value']}  , Centre de coût :  @{items('loop_ligne_articles')?['SiteCentreCoutId/Value']};\n"
              }
            }
          },
          "runAfter": {
            "Get_Ligne_Articles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5cb82fcd-8413-4255-9e5d-e53c30303b40"
          },
          "type": "Foreach"
        },
        "Get_Centre_de_cout": {
          "runAfter": {
            "loop_ligne_articles": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c050953-628b-4767-8c33-3e150f6924a8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_SiteCentreCout (cm237_Ev_Con_List_SiteCentreCout)')",
              "id": "@outputs('Demande_Achat')?['body/SiteCentreCoutId/Id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Start_and_wait_for_an_approval": {
          "runAfter": {
            "Update_Validateur_Niveau_Validation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a30005dd-43e4-4e49-a6f9-dc7b9a0eeabd"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
              "connectionName": "shared_approvals_1",
              "operationId": "StartAndWaitForAnApproval"
            },
            "parameters": {
              "approvalType": "CustomResponse",
              "WebhookApprovalCreationInput/responseOptions": [
                "Valider",
                "Rejeter",
                "Renvoyer (Pour modification)"
              ],
              "WebhookApprovalCreationInput/title": "Validation (DAF) -SMT-Demande d'achat  @{outputs('Demande_Achat')?['body/ID']}",
              "WebhookApprovalCreationInput/assignedTo": "@{variables('varListValideur')};",
              "WebhookApprovalCreationInput/details": "Description : @{outputs('Demande_Achat')?['body/Description']} , \nNuméro DAC : @{outputs('Demande_Achat')?['body/Dac']}\n\nListe des articles :\n@{variables('varLigneArticle')}\n\n\nMontant HT : @{outputs('Demande_Achat')?['body/Montant']} @{outputs('Demande_Achat')?['body/Devise/Value']};\nMontant TTC: @{outputs('Demande_Achat')?['body/MontantTTC']} @{outputs('Demande_Achat')?['body/Devise/Value']}.\n\nFichier(s) Joint(s) : \n@{variables('lienPieceJointe')}\n\nNB : Veuillez donner votre approbation avant le @{addDays(utcNow(),28,'dd/MM/yyyy')}",
              "WebhookApprovalCreationInput/requestor": "@{outputs('Demande_Achat')?['body/Author/Email']};",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true,
              "WebhookApprovalCreationInput/attachments": "@variables('Attachments')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Condition_2": {
              "actions": {
                "Condition": {
                  "actions": {
                    "Update_item_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "5b7cd289-dd92-4130-8b69-41d20d239003"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "PatchItem"
                        },
                        "parameters": {
                          "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                          "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
                          "id": "@outputs('Demande_Achat')?['body/ID']",
                          "item/Statut/Value": "En cours",
                          "item/DateValidationDaf": "@outputs('Start_and_wait_for_an_approval')?['body/completionDate']",
                          "item/RaisonDaf": "@items('Apply_to_each')?['comments']",
                          "item/StatutValidationDAFDG/Value": "Validé",
                          "item/ValidateurDAF": "@items('Apply_to_each')?['responder/displayName']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Create_item_DG": {
                      "runAfter": {
                        "Update_item_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7d13f3a8-7e6a-4d72-91bc-3b446bc5f45c"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "connectionName": "shared_sharepointonline_1",
                          "operationId": "PostItem"
                        },
                        "parameters": {
                          "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                          "table": "@parameters('Ev_Con_List_Trigger_SMT_DG (cm237_Ev_Con_List_Trigger_SMT_DG)')",
                          "item/idElement": "@triggerOutputs()?['body/idElement']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Update_item_4": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "4badc017-7374-4a88-a31e-75749c52cb76"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline_1",
                            "operationId": "PatchItem"
                          },
                          "parameters": {
                            "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                            "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
                            "id": "@outputs('Demande_Achat')?['body/ID']",
                            "item/Statut/Value": "Validé",
                            "item/DateValidationDaf": "@outputs('Start_and_wait_for_an_approval')?['body/completionDate']",
                            "item/RaisonDaf": "@items('Apply_to_each')?['comments']",
                            "item/StatutValidationDAFDG/Value": "Validé",
                            "item/ValidateurDAF": "@items('Apply_to_each')?['responder/displayName']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "greaterOrEquals": [
                      "@variables('montantTTCCconvertXAF')",
                      "@outputs('Get_Entite')?['body/Seuil1']"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "23096a18-4efc-4c14-9e56-82d07f027b5e"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Condition_3": {
                    "actions": {
                      "Update_item": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "4c845562-faa4-45e9-a673-3b8a2b4ddd97"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline_1",
                            "operationId": "PatchItem"
                          },
                          "parameters": {
                            "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                            "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
                            "id": "@outputs('Demande_Achat')?['body/ID']",
                            "item/Statut/Value": "Refusé",
                            "item/DateValidationDaf": "@outputs('Start_and_wait_for_an_approval')?['body/completionDate']",
                            "item/RaisonDaf": "@items('Apply_to_each')?['comments']",
                            "item/StatutValidationDAFDG/Value": "Refusé",
                            "item/ValidateurDAF": "@items('Apply_to_each')?['responder/displayName']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Update_item_3": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "77200d0e-60b1-451e-80dc-e6545d066b93"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "connectionName": "shared_sharepointonline_1",
                              "operationId": "PatchItem"
                            },
                            "parameters": {
                              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
                              "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
                              "id": "@outputs('Demande_Achat')?['body/ID']",
                              "item/Statut/Value": "Annulé",
                              "item/DateValidationDaf": "@outputs('Start_and_wait_for_an_approval')?['body/completionDate']",
                              "item/RaisonDaf": "@items('Apply_to_each')?['comments']",
                              "item/StatutValidationDAFDG/Value": "Annulé",
                              "item/ValidateurDAF": "@items('Apply_to_each')?['responder/displayName']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
                        "Rejeter"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "040a7fc0-c167-4629-9e2c-aa4af8824d29"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
                  "Valider"
                ]
              },
              "metadata": {
                "operationMetadataId": "08c940d9-9546-40fe-9829-24fd752ae2a7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Condition_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac7d6375-757c-4716-9438-344358bca57d"
          },
          "type": "Foreach"
        },
        "Get_Entite": {
          "runAfter": {
            "Get_Centre_de_cout": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "df626dbf-dc08-446b-804d-32789ff7e1da"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_Entite (cm237_Ev_Con_List_Entit)')",
              "id": "@outputs('Demande_Achat')?['body/EntiteId/Id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "loop_DAF": {
          "foreach": "@outputs('Get_Entite')?['body/DAF']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4f92f39-9677-455d-a56d-720eb4c7778f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varListValideur",
                "value": "@items('loop_DAF')?['Email']"
              }
            }
          },
          "runAfter": {
            "Get_Entite": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b399baa-b00d-40bb-8559-4b88874dafdd"
          },
          "type": "Foreach"
        },
        "taux": {
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e2bb379-8314-427f-bce6-c5cb73a76ec4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "taux",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "montant_TTC_convert_XAF": {
          "runAfter": {
            "taux": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f8c2628-72e6-4824-bfbd-ca620390538a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "montantTTCCconvertXAF",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Get_items": {
          "runAfter": {
            "Demande_Achat": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8e9f14e3-a6d2-4fba-8e60-4f0cee9714a3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_Devise (cm237_Ev_Con_List_Devise)')",
              "$filter": "Title eq '@{outputs('Demande_Achat')?['body/Devise/Value']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_2": {
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Set_variable_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "28ad611d-2061-4104-82de-f1742e573737"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "taux",
                "value": "@items('Apply_to_each_2')?['Taux']"
              }
            }
          },
          "runAfter": {
            "montant_TTC_convert_XAF": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd385bda-bdeb-4548-976d-392fc312bcc8"
          },
          "type": "Foreach"
        },
        "Set_variable_3": {
          "runAfter": {
            "Apply_to_each_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b71bbb5c-c386-48e5-b539-2bc6dda03d8b"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "montantTTCCconvertXAF",
            "value": "@mul(variables('taux'),outputs('Demande_Achat')?['body/MontantTTC'])"
          }
        },
        "Condition_4": {
          "actions": {},
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Send_an_email_(V2)": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "37c6b34a-631e-4507-9d2e-d0f329051452"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "connectionName": "shared_office365_1",
                    "operationId": "SendEmailV2"
                  },
                  "parameters": {
                    "emailMessage/To": "@variables('varListValideur')",
                    "emailMessage/Subject": "[Notifcation - Zulaa] Approbation non prise en compte",
                    "emailMessage/Body": "<p>La demande d'achat DA@{outputs('Demande_Achat')?['body/ID']} a déjà été approuvée.<br>\n<br>\n<strong>La nouvelle approbation n'a pas été prise en compte !</strong><br>\n<br>\n[ZULAA]</p>"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Terminate": {
                "runAfter": {
                  "Send_an_email_(V2)": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "640b48f6-66d4-4d42-b6da-5a770e86863c"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Demande_Achat')?['body/StatutValidationDAFDG/Value']",
              "En cours"
            ]
          },
          "metadata": {
            "operationMetadataId": "f48b5d90-2cbf-4cf5-a441-e28928b85f33"
          },
          "type": "If"
        },
        "Initialiser_la_variable": {
          "runAfter": {
            "lienPieceJointe": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dbc4ef06-4729-41bf-b1ee-8aebf4391a9e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Attachments",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Historique": {
          "runAfter": {
            "loop_DAF": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9c34d8d7-4ace-4bc9-9e37-b16dd8e9033a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "PostItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_FlowHistory (cm237_Ev_Con_List_FlowHistory)')",
              "item/Title": "Zulaa SMT DAF",
              "item/ElementId": "DA@{outputs('Demande_Achat')?['body/ID']}",
              "item/ValidateurName": "@variables('varListValideur')",
              "item/FlowType/Value": "Classic"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Validateur_Niveau_Validation": {
          "runAfter": {
            "Historique": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d89e1fd-a5db-4607-88e8-1647a0ff920d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "PatchItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DemandeAchat (cm237_Ev_Con_List_DemandeAchat)')",
              "id": "@outputs('Demande_Achat')?['body/ID']",
              "item/ValidateurActuelle": "@variables('varListValideur')",
              "item/NiveauValidation/Value": "DAF"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1e73a6c4-893a-4000-b932-d5e030c22c1a"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/idElement']"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}