Workflows/ZulaaAnnulationDelegationDAFA-8B8A90BA-3935-EE11-BDF4-0022487FE354.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_SharePoint_ZulaaProd"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Ev_Con_List_DelegationPersonnel (cm237_Ev_Con_List_DelegationPersonnel)": {
          "defaultValue": "ba191c5e-eebc-4601-b0b3-0209b4fae7ed",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_DelegationPersonnel",
            "description": "Connexion à la liste sharepoint de DélegationPersonnel"
          }
        },
        "Ev_Con_List_Entite (cm237_Ev_Con_List_Entit)": {
          "defaultValue": "0ecfd9f6-6425-4e2a-816f-b35669a82481",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_Entit",
            "description": "Connexion à la liste sharepoint des Entitées"
          }
        },
        "Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)": {
          "defaultValue": "https://teamsite.msc.com/sites/NL001-SITE_ACHAT",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_Site_ZulaaDev",
            "description": "Site de la dev où sont stockés les templates des documents de bon de commande, expression de besoin, réception et sortie de stock"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "04259125-a641-4b82-b7d7-4b9c60091a19"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "Obtenirl’élément2_ID": {
                  "type": "integer"
                },
                "Obtenirl’élément_ID": {
                  "type": "integer"
                }
              },
              "required": [
                "Obtenirl’élément2_ID",
                "Obtenirl’élément_ID"
              ]
            }
          }
        }
      },
      "actions": {
        "entite": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0476312e-267f-469f-920e-40c90d058194"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_Entite (cm237_Ev_Con_List_Entit)')",
              "id": "@triggerBody()['Obtenirl’élément_ID']"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "delegation": {
          "runAfter": {
            "entite": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0b170c0c-6fe4-46b9-85bc-2ae3e0811174"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DelegationPersonnel (cm237_Ev_Con_List_DelegationPersonnel)')",
              "id": "@triggerBody()['Obtenirl’élément2_ID']"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Mettre_à_jour_l'élément": {
          "runAfter": {
            "Appliquer_à_chacun": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dfbe34ea-497a-47d2-9096-84b43e653661"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "PatchItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_Entite (cm237_Ev_Con_List_Entit)')",
              "id": "@outputs('entite')?['body/ID']",
              "item/ServiceAchat": "@variables('SVA')",
              "item/DG": "@variables('DG')",
              "item/DAF": "@variables('DAF')",
              "item/Status": true,
              "item/DAFA": [
                {
                  "Claims": "@outputs('delegation')?['body/PersonnelDelegateur/Claims']"
                }
              ]
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Initialiser_la_variable": {
          "runAfter": {
            "delegation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2141eeee-5274-463c-ac3a-1ef3d1594f58"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SVA",
                "type": "array"
              }
            ]
          }
        },
        "Initialiser_la_variable_2": {
          "runAfter": {
            "Initialiser_la_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d0227c05-9f79-4d8a-8afb-47a701ee5302"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DAF",
                "type": "array"
              }
            ]
          }
        },
        "Initialiser_la_variable_3": {
          "runAfter": {
            "Initialiser_la_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4605afb4-70ad-4245-941d-75d1b341c80b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DG",
                "type": "array"
              }
            ]
          }
        },
        "Appliquer_à_chacun": {
          "foreach": "@outputs('entite')?['body/DG']",
          "actions": {
            "Ajouter_à_la_variable_de_tableau": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b36a8bc9-6a21-4dd4-b0c9-bd93069536a1"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "DG",
                "value": {
                  "Claims": "@items('Appliquer_à_chacun')?['Claims']"
                }
              }
            }
          },
          "runAfter": {
            "Appliquer_à_chacun_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b038953c-edd6-4627-ae05-eaa32909920e"
          },
          "type": "Foreach"
        },
        "Appliquer_à_chacun_2": {
          "foreach": "@outputs('entite')?['body/DAF']",
          "actions": {
            "Ajouter_à_la_variable_de_tableau_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a323d4fa-5bde-4b07-a281-f3f7d933ad59"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "DAF",
                "value": {
                  "Claims": "@items('Appliquer_à_chacun_2')?['Claims']"
                }
              }
            }
          },
          "runAfter": {
            "Appliquer_à_chacun_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e723d21-fee5-4cfe-827a-974035792c34"
          },
          "type": "Foreach"
        },
        "Appliquer_à_chacun_3": {
          "foreach": "@outputs('entite')?['body/ServiceAchat']",
          "actions": {
            "Ajouter_à_la_variable_de_tableau_3": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7d7a7c79-d82e-46ce-b68b-d535bb2b4ec3"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "SVA",
                "value": {
                  "Claims": "@items('Appliquer_à_chacun_3')?['Claims']"
                }
              }
            }
          },
          "runAfter": {
            "Initialiser_la_variable_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8195e58-2148-4c06-9954-f50c47a79d44"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}