Workflows/ZulaaDlgationcentredecoutDMV2-93C2BB23-08B1-EC11-9840-002248812BC7.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_SharePoint_ZulaaProd"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Ev_Con_List_DelegationPersonnel (cm237_Ev_Con_List_DelegationPersonnel)": {
          "defaultValue": "ba191c5e-eebc-4601-b0b3-0209b4fae7ed",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_DelegationPersonnel",
            "description": "Connexion à la liste sharepoint de DélegationPersonnel"
          }
        },
        "Ev_Con_List_SiteCentreCout (cm237_Ev_Con_List_SiteCentreCout)": {
          "defaultValue": "d8dfb529-f01e-47b3-bb55-710c65c63e74",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_List_SiteCentreCout",
            "description": "Connexion à la liste sharepoint des SiteCentreCout"
          }
        },
        "Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)": {
          "defaultValue": "https://teamsite.msc.com/sites/NL001-SITE_ACHAT",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_Site_ZulaaDev",
            "description": "Site de la dev où sont stockés les templates des documents de bon de commande, expression de besoin, réception et sortie de stock"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "705f8ef4-afcd-4c8c-b79f-68711683c303"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "CentreDeCout_Id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Unique identifier of item to be retrieved",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Getitem_Id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Unique identifier of item to be retrieved",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "CentreDeCout_Id",
                "Getitem_Id"
              ]
            }
          }
        }
      },
      "actions": {
        "CentreDeCout": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ff6e5147-9b5c-44fc-8cf0-a1a89850cf83"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_SiteCentreCout (cm237_Ev_Con_List_SiteCentreCout)')",
              "id": "@triggerBody()['CentreDeCout_Id']"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "ResponsableMetier": {
          "runAfter": {
            "Get_item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "758c7d94-7b5a-432f-ad36-bfa5b0327295"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('CentreDeCout')?['body/ResponsableMetier']",
            "select": {
              "Claims": "@item()['Claims']"
            }
          }
        },
        "Delegateur": {
          "runAfter": {
            "ResponsableMetier": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e063b814-1385-4924-ab1e-91d7d57c402b"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Get_item')?['body/Personnel']",
            "select": {
              "Claims": "@item()['Claims']"
            }
          }
        },
        "Compose": {
          "runAfter": {
            "Delegateur": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "16620d03-eeac-47b3-8deb-ae92d757cfb8"
          },
          "type": "Compose",
          "inputs": "@union(body('ResponsableMetier'),body('Delegateur'))"
        },
        "Update_item": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48dabadb-7a48-4130-b361-98a79b9ff333"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "PatchItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_SiteCentreCout (cm237_Ev_Con_List_SiteCentreCout)')",
              "id": "@outputs('CentreDeCout')?['body/ID']",
              "item/ResponsableMetier": "@outputs('Compose')"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Get_item": {
          "runAfter": {
            "CentreDeCout": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ddd04ca6-9ded-4150-b4da-93b87954b1ab"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItem"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "@parameters('Ev_Con_List_DelegationPersonnel (cm237_Ev_Con_List_DelegationPersonnel)')",
              "id": "@triggerBody()['Getitem_Id']"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}